.space{
    height:15em;
    background-color: rgb(4,11,53);
    /* background-color: red; */
    margin: 0;
}
.footer{
    height: 20em;
    box-sizing: border-box;
    /* background-color: rgb(55, 76, 193); */
    border: 1em solid rgb(4,11,53);
    color: rgb(4,11, 53);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
